@font-face {
    font-family: 'oxygenbold';
    src: url('../fonts/oxygen-bold-webfont.eot');
    src: url('../fonts/oxygen-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-bold-webfont.woff') format('woff'),
         url('../fonts/oxygen-bold-webfont.ttf') format('truetype'),
         url('../fonts/oxygen-bold-webfont.svg#oxygenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oxygenlight';
    src: url('../fonts/oxygen-light-webfont.eot');
    src: url('../fonts/oxygen-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-light-webfont.woff') format('woff'),
         url('../fonts/oxygen-light-webfont.ttf') format('truetype'),
         url('../fonts/oxygen-light-webfont.svg#oxygenlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oxygenregular';
    src: url('../fonts/oxygen-regular-webfont.eot');
    src: url('../fonts/oxygen-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-regular-webfont.woff') format('woff'),
         url('../fonts/oxygen-regular-webfont.ttf') format('truetype'),
         url('../fonts/oxygen-regular-webfont.svg#oxygenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mistral';
    src: url('../fonts/mistral.eot');
    src: url('../fonts/mistral.eot?#iefix') format('embedded-opentype'),
             url('../fonts/mistral.woff') format('woff'),
             url('../fonts/mistral.ttf') format('truetype'),
             url('../fonts/mistral.svg#mistral') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'oxygenregular';
    background: url('../images/landing-bg.png') top right no-repeat;
    background-size: cover;
}

a:hover {
    text-decoration: none;
}

header {
    background: url('../images/header-bg.png') repeat-y top right;
    width: 1000px;
    height: 93px;
    position: absolute;
    top: 0;
    right: 0;
}

header span {
    float: right;
    margin: 15px 20px 0 20px;
}

header h1 {
    font-size: 22px;
    color: #790707;
    letter-spacing: 2px;
    font-family: 'oxygenlight';
    margin: 25px 0 5px 0;
    text-transform: uppercase;
}

header h3 {
    font-size: 15px;
    color: #000;
}

.header-text {
    float: right;
    text-align: right;
}

.landing-shape {
    background: url('../images/landing-shape.png');
    width: 688px;
    height: 700px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu {
    background: url('../images/menu-bg.png') repeat-y;
    width: 870px;
    height: 135px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 30px;
}

.menu ul {
    margin: 20px 0 0 50px;
}

.menu ul li {
    float: left;
    text-align: center;
    list-style: none;
    margin-right: 40px;
}

.menu ul li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.menu ul li a span {
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 72px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: solid 1px #fff;
    position: relative;
    top: 0;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    margin-bottom: 5px;
}

.menu ul li a:hover span {
    top: -6px;
    background: #fff;
}

.menu ul li a span i {
    font-size: 26px;
    margin-top: 20px;
}

.menu ul li a:hover span {
    color: #790707;
}

.login h2 {
    font-family: 'oxygenbold';
    font-size: 24px;
    text-transform: uppercase;
    color: #222;
    margin: 100px 0 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.login h2 span {
    color: #790707;
}

.login-box {
    background: rgba(121,7,7,.30);
    width: 453px;
    height: 280px;
    padding: 40px;
    border: solid 1px rgba(121,7,7,.65);
    margin: 0 auto;
}

.login-box h3 {
    font-family: 'oxygenlight';
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.login-box h3 span {
    font-family: 'oxygenbold';
}

.login-box input[type=text],
.login-box input[type=password] {
    background: rgba(255, 255, 255, .6);
    border: solid 1px #fff;
    width: 100%;
    padding-left: 10px;
    height: 40px;
    margin-bottom: 15px;
}

.login-box input[type=submit] {
    width: 100%;
    height: 40px;
    background: #790707;
    color: #fff;
    font-family: 'oxygenbold';
    text-transform: uppercase;
    text-align: center;
    border: none;
}

.login p {
    text-align: center;
    margin-top: 30px;
}

.login p a {
    color: #790707;
    background: rgba(255,255,255,.6);
    border: solid 1px #fff;
    display: block;
    width: 453px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}

.login p a i {
    margin-right: 10px;
    font-size: 16px;
}