@font-face {
    font-family: 'oxygenbold';
    src: url('../fonts/oxygen-bold-webfont.eot');
    src: url('../fonts/oxygen-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-bold-webfont.woff') format('woff'),
         url('../fonts/oxygen-bold-webfont.ttf') format('truetype'),
         url('../fonts/oxygen-bold-webfont.svg#oxygenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oxygenlight';
    src: url('../fonts/oxygen-light-webfont.eot');
    src: url('../fonts/oxygen-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-light-webfont.woff') format('woff'),
         url('../fonts/oxygen-light-webfont.ttf') format('truetype'),
         url('../fonts/oxygen-light-webfont.svg#oxygenlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oxygenregular';
    src: url('../fonts/oxygen-regular-webfont.eot');
    src: url('../fonts/oxygen-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-regular-webfont.woff') format('woff'),
         url('../fonts/oxygen-regular-webfont.ttf') format('truetype'),
         url('../fonts/oxygen-regular-webfont.svg#oxygenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mistral';
    src: url('../fonts/mistral.eot');
    src: url('../fonts/mistral.eot?#iefix') format('embedded-opentype'),
             url('../fonts/mistral.woff') format('woff'),
             url('../fonts/mistral.ttf') format('truetype'),
             url('../fonts/mistral.svg#mistral') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'oxygenregular';

}

a:hover {
    text-decoration: none;
}

header {
    background: #fff;
    height: 100px;
    width: 100%;
}

.container {
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

header h1 {
    font-family: 'oxygenbold';
    font-size: 30px;
    color: #000;
    margin: 15px 0 0 178px;
    float: left;
}

header .logo {
    position: absolute;
    background: #fff;
    width: 178px;
    height: 160px;
    line-height: 157px;
    text-align: center;
    left: 0; 
}

header p {
    float: right;
    font-size: 12px;
    text-align: right;
    margin: 10px 0 0 0;
}

header p span {
    width: 100%;
    border-top: dotted 1px #d3d3d3;
    display: inline-block;
    position: relative;
    top: -3px;
}

nav {
    background: #c44214;
    height: 60px;
    width: 100%;
    border-bottom: solid 1px #fff;
}

nav ul {
    float: right;
    margin-bottom: 0;
}

nav > div > ul > li {
    float: right;
    line-height: 60px;
    list-style: none;
    /*margin-top: 15px;*/
    position: relative;
}

nav ul li ul {
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 999;
    display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    float: none;
    list-style: none;
    line-height: 40px;
}

nav ul li ul li a {
    display: inline-block;
    width: 160px;
    height: 46px;
    line-height: 46px;
    background: #fff;
    padding-left: 15px;
    color: #444;
    border-bottom: solid 1px #d3d3d3;
}

nav > div > ul > li:first-child {
    padding-right: 0;
}

nav > div > ul > li > a {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    border-left: dotted 1px rgba(255,255,255,0.5); 
    padding: 0 15px;
}

nav ul li a i {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4.5px 0 4.5px;
    border-color: #fff transparent transparent transparent;
    margin: 14px 0 0 15px;
    position: relative;
    top: -4px;
    display: inline-block;
}

nav ul li a:hover i,
nav ul li a:active i,
nav ul li a:focus i {
    border-color: #444 transparent transparent transparent;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus {
    color: #000;
    text-decoration: none;
}

.banner {
    width: 100%;
    height: 499px;
    background: url(../images/banner.jpg) no-repeat right top #26b6e9;
}

.banner h1 {
    font-family: 'oxygenlight';
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 50px;
}

.banner h1 span.large {
    font-size: 50px;
    font-family: 'oxygenbold';
}

.banner h1 span.medium {
    font-size: 35px;
    font-family: 'oxygenbold';
}

.banner .container {
    height: 499px;
}

.left-section ul {
    border-left: dotted 2px #6c9a2c;
    padding: 60px 0 30px;
}

.left-section ul li {
    list-style: none;
    margin: 0 0 50px 50px;
}

.left-section ul li a {
    font-family: 'oxygenbold';
    font-size: 20px;
    color: #232323;
    text-transform: uppercase;
}

.left-section ul li a i {
    font-family: 'oxygenlight';
    font-size: 12px;
    text-transform: none;
    position: relative;
    top: -10px;
    line-height: 14px;
    display: inline-block;
    font-style: normal;
}

.left-section ul li a span {
    width: 70px;
    height: 40px;
    background: url(../images/lock-icon.png) no-repeat center center #6c9a2c;
    text-align: center;
    display: inline-block;
    float: left;
    margin: 0 20px 0 -85px;
    position: relative;
}

.left-section ul li a span.event {
    background: url(../images/calendar-icon.png) no-repeat center center #6c9a2c;
}

.left-section ul li a span.info {
    background: url(../images/info-icon.png) no-repeat center center #6c9a2c;
}

.left-section ul li a span.staff {
    background: url(../images/user-icon.png) no-repeat center center #6c9a2c;
}

.left-section ul li a span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 35px 20px 35px;
    border-color: transparent transparent #6c9a2c;
    left: 0;
    top: -20px;
}

.left-section ul li a span:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 35px 0px 35px;
    border-color: #6c9a2c transparent transparent;
    left: 0;
    bottom: -20px;
}

.main-section {
    padding: 40px 0 0 0;
}

.main-section h2 {
    font-size: 18px;
    font-family: 'oxygenregular';
    color: #979797;
    position: relative;
    display: inline-block;
    padding-left: 75px;
}

.main-section h2 strong {
    font-weight: normal;
    color: #232323;
    font-family: 'oxygenbold';
    font-size: 30px;
}

.main-section span {
    background: url(../images/small-logo.png);
    width: 60px;
    height: 75px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -20px;
}

.main-section p {
    font-size: 14px;
    margin-top: 40px;
    line-height: 24px;
}

.pictures {
    background: #c44214;
    height: 156px;
}

.display-pic {
    width: 610px;
    float: left; 
    margin-top: 13px;
    position: relative;
    z-index: 99;
}

.image-show {
    float: right;
    width: 277px;
    margin-top: -70px;
    position: absolute;
    right: 15px;
}

.image-show img {
    width: 100%;    
}

.bottom-link {
    background: #6c9a2c;
    height: 335px;
    padding-top: 40px;
}

.image-show span {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 138px solid #fff;
    border-bottom: 69px solid transparent;
    left: 0;
    top: 0;
}

.image-show span.tr {
    border-right: 138px solid #fff;
    border-left: 139px solid #fff;
    border-bottom: 69px solid transparent;
    right: 0;
    left: inherit;
    top: 0;
}

.image-show span.br {
    border-right: 138px solid #6c9a2c;
    border-left: 139px solid #6c9a2c;
    border-top: 69px solid transparent;
    right: 0;
    left: inherit;
    bottom: 0;
    top: inherit;
    border-bottom: none;
}

.bottom-link h2 {
    font-family: 'oxygenbold';
    font-size: 16px;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: dotted 2px #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.bottom-link ul {
    padding: 0;
}

.bottom-link ul li {
    list-style: none;
    margin-bottom: 15px;
}

.bottom-link ul li a {
    color: #fff;
    font-size: 14px;
}

.bottom-link .col-md-3 {
    padding: 0 20px;
}

footer {
    background: #fff;
    height: 56px;
    line-height: 56px;
    color: #898989;
    text-transform: uppercase;
    font-size: 14px;
}

footer .footer-logo {
    background: url(../images/logo-bordered.png);
    width: 102px;
    height: 120px;
    position: absolute;
    right: 102px;
    top: -70px;
}

footer i {
    height: 205px;
    display: inline-block;
    border-left: solid 1px rgba(255,255,255,0.4);
    position: absolute;
    right: 153px;
    bottom: 120px;
}

.bottom-space {
    width: 100%;
    height: 30px;
    background: #6c9a2c;
}